<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Firefly Zero Day</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Page Content-->
 
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>

<footer class="py-4 bg-success">
  <div class="container px-4 px-lg-5">
    <p class="m-0 text-center text-white">Copyright &copy; Firefly 2024</p>
  </div>
        </div>
        <div className="StoryInstructions-header-text">
          A firefly illuminates
          <br /> with their magical light.
        </div>
      </div>
      {/*Our mission statement*/}
      <div className="StoryInstructions-mission ">
        <h1 className="StoryInstructions-mission-text ">
          Demonstration Orientation & Instructions
        </h1>
        <span className="StoryInstructions-mission-span">
          The Firefly Adventures demostration displays an engaging children's
          story and regularly presents the student with problems to solve that
          are tied to the story. If the student answers incorrectly or needs
          help solution the problem, an AI tutor is able to help. The AI tutor
          is prompted with knowledge about the story, the question, question
          domain, and grade appropriate problem solving methods appropriate.
          The questions, answers, and problem solving methods are aligned to
          Common Core Teaching Standards. Firefly Adventures story creator are
          teachers, tutors, and artists who earn royalties from their work.
          Intellectual property (IP)is protected, promoted, and sold through
          various channels including this interactive problem solving
          experience. We imagine a digital publishing business model which
          rewards Teacher and Artist creativity, productivity, and inspiration
          through publication and monetization of IP aligned to common
          standards. Here are the main points to see in the demonstration:{" "}
        </span>
        {/* Founding father Image*/}
        <div className="Founding-image-container ">
          <img className="Founding-image" src={fireflylogo} alt="founders" />
          <div className="Founding-text StoryInstructions-mission-text">
            Key Points
          </div>
        </div>
      </div>
      {/* Our Vision*/}
      <div className="StoryInstructions-mission">
        <Vision />
      </div>
    </header>
  </div>
);
};
